@(active: String)(implicit l: Lang)


@main(active, active) {


      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
      	<div class="row">
      		<div class="span4">
	      		<img src="@routes.Assets.at("images/mischsalat.jpg")" class="img-rounded pull-left"  alt="PLAYVISION"/>
      		</div>
      	<div class="span6">


		  		<h2>Gutes aus der Region</h2>
        		<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et egestas dui. Praesent hendrerit justo quis urna pharetra, ac porttitor lectus dignissim. Curabitur purus justo, tempor sit amet est at, fringilla auctor tellus. 
						</p>

       		

      	</div>


      	</div> <!-- row -->
      </div><!-- hero -->




     <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
          <h2>Aktuell</h2>
          <p>
					In nisi elit, ultrices a vehicula a, pretium non libero. Fusce condimentum turpis sed lorem ultrices, ac tempor neque egestas. Nam consectetur odio et dolor feugiat commodo. Maecenas eu tellus augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ac felis accumsan, rutrum tellus ac, ultrices est. Etiam vitae massa quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

					</p>

          <!--
          <img src="@routes.Assets.at("images/cherrytomaten.jpg")" class="img-polaroid" alt="PLAYVISION">
      	   -->
          <p><a class="btn" href="@routes.App.offer">Mehr &raquo;</a></p>
          <br>
        </div> <!-- span6 -->

        <div class="span6">
          <h2>Unsere Produkte</h2>
          <p>
						Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean mollis ligula eget ante accumsan scelerisque. Pellentesque ullamcorper fermentum consequat. Duis posuere leo in aliquam volutpat. Proin pellentesque massa vel volutpat blandit. Curabitur feugiat elit sit amet quam tempus tristique. Quisque vitae dui eleifend, placerat arcu at, egestas nisi. Vivamus nec enim posuere, lacinia nunc a, hendrerit diam. Cras eleifend lorem eu nisl cursus luctus. Proin est odio, lacinia nec nibh ac, consequat dapibus felis. Morbi in dictum turpis. Fusce condimentum convallis ante convallis blandit. Sed scelerisque a dui venenatis tincidunt.
						
					</p>
          <p><a class="btn" href="@routes.App.producers">Mehr &raquo;</a></p>
          <br>
          </div> <!-- span6 -->


       </div> <!-- row -->

 


  }
