@(active: String)(implicit l: Lang)


@main(active, active) {


      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
      	<div class="row">
      		<div class="span4">
	      		<img src="@routes.Assets.at("images/mischsalat.jpg")" class="img-rounded pull-left"  alt="PLAYVISION"/>
      		</div>
      	<div class="span6">

		  		<h2>Délices de la région</h2>
			   		<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et egestas dui. Praesent hendrerit justo quis urna pharetra, ac porttitor lectus dignissim. Curabitur purus justo, tempor sit amet est at, fringilla auctor tellus. 
						</p>

	     		
      	</div>


      	</div> <!-- row -->
      </div><!-- hero -->




     <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
          <h2>Les activités</h2>
          <p>
						Donec gravida at eros sed maximus. Praesent ut viverra augue. In venenatis vitae dui id iaculis. Suspendisse tincidunt libero ipsum, non semper libero sollicitudin vel. Pellentesque quis lorem vehicula, elementum ante vel, aliquam dolor. Donec eu scelerisque nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed consequat, mauris ut euismod bibendum, dolor urna vulputate tortor, at mattis quam leo porttitor dolor. Mauris vel enim non nibh pellentesque eleifend eu id nulla.

          </p>

      <p><a class="btn" href="@routes.App.offer">En savoir plus &raquo;</a></p>
          <br>
        </div> <!-- span6 -->

        <div class="span6">
          <h2>Nos produits</h2>
          <p>
						
						Curabitur vel semper nunc. Integer congue, diam et faucibus consectetur, libero orci sodales tortor, eu pellentesque nisl purus et purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus gravida ante in egestas tristique. Sed sollicitudin nulla sit amet accumsan malesuada. Sed venenatis augue non placerat sodales. Mauris facilisis urna vel quam lacinia tincidunt sed eget lorem. Phasellus in massa ut nulla scelerisque faucibus nec eu lorem. Sed in leo lacus.

					</p>
          <p><a class="btn" href="@routes.App.producers">En savoir plus  &raquo;</a></p>
          <br>
          </div> <!-- span6 -->


       </div> <!-- row -->

       


  }
