@(active: String)(implicit l: Lang)

@main(active, active) {

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
	<div class="row">
		<div class="span8">
			<h2>Heute frisch</h2>
			<p>Sed quis malesuada sem, eget suscipit nisl. Sed tincidunt massa ante, ac tristique eros tincidunt non. 
			</p>
			
		</div>

		<div class="span2">
			<img src="http://placehold.it/100x200" class="img-rounded pull-right" alt="PLAYVISION" />
		</div>
		<!-- span4 -->

	</div>
	<!-- row -->
</div>
<!-- hero -->




<!-- Example row of columns -->
<div class="row">
	<div class="span4">
		<h2>In id varius elit. </h2>
		<p>
			Nullam eu lacus odio. Vivamus iaculis, lacus eu mattis ultricies, tortor nibh pharetra ligula, vel pretium sapien leo sit amet velit. Mauris euismod scelerisque neque. In id nibh non velit pretium pretium.
		</p>
		<pr>
		<a class="btn" href="@routes.Contacts.form">Bestellen &raquo;</a>
		</pr>

		<br>
		<br>
		<div class="well">
			
			<h3>Das bringt PLAYVISION</h3>
				<ul>
				<li>Fördert die Solidarität und den Dialog zwischen ProduzentInnen und KonsumentInnen
				<li>Gewissheit über die Herkunft der Produkte
				<li>Minimalen Energieaufwand durch saisongerechte Produktion und kurze Transportwege
				<li>Vermindert den Verpackungsaufwand
				<li>Umgeht den Zwischenhandel
				<li>Fördert eine umweltfreundliche und regionale Wirtschaft
				<li>Faire Arbeitsbedingungen
				</ul>
		</div>

	</div>

	

	<div class="span4">
		<h2>Unsere Produzenten</h2>
		<p>
		In id varius elit. Nullam eu lacus odio. Vivamus iaculis, lacus eu mattis ultricies, tortor nibh pharetra ligula, vel pretium sapien leo sit amet velit. Mauris euismod scelerisque neque. In id nibh non velit pretium pretium. Sed faucibus quis augue et tincidunt. Suspendisse laoreet nibh eget libero sollicitudin elementum. Proin sapien nulla, rutrum id tincidunt eu, semper eget elit. Morbi posuere maximus sapien, sit amet placerat sem pulvinar et. Vivamus et ex orci. In luctus odio a risus faucibus, ac luctus quam dictum. Praesent sollicitudin justo sit amet ligula commodo porttitor. Curabitur eu placerat eros. Nam lorem lacus, luctus in suscipit in, commodo vitae risus.
		</p>
		<p>
			<a class="btn" href="@routes.App.producers">Kennenlernen &raquo;</a>
		</p>
		<br>
	</div>

	<div class="span4">
		<h2>Mitmachen</h2>

		<p>
			Sed quis malesuada sem, eget suscipit nisl. Sed tincidunt massa ante, ac tristique eros tincidunt non. Quisque nec pellentesque augue. Quisque non mauris massa. Nullam nunc purus, sodales at cursus at, vulputate scelerisque purus. Proin tincidunt ante condimentum felis condimentum rhoncus. Aenean venenatis lacus at tellus sollicitudin, et hendrerit mauris interdum. Nunc a urna at arcu vehicula fringilla quis pretium magna. In eget placerat neque. Proin commodo pulvinar elit, mattis sollicitudin magna lobortis vel.
		 </p>
		 <p>

			<a class="btn" href="@routes.Contacts.form">Zur Anmeldung &raquo;</a>
		</p>

	
		

	</div>
	<!-- span4-->




</div>
<!-- row -->

}
