@(active: String)(implicit l: Lang)

@main(active, active) {

	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit">
		<h2>Direkt vom Produzenten</h2>
		<div class="row">
			<div class="span6">

				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rhoncus egestas mauris, in consectetur massa accumsan a. Integer ut molestie ligula, eget viverra est.
				</p>
			</div>
			<div class="span4">
				<img src="http://placehold.it/300x200" class="img-rounded" alt="PLAYVISION" align="right"/>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span6">

			<h2>Visionär</h2>
			<p class="lead">
				Cras at suscipit ipsum, sit amet suscipit odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
			</p>
			<p>
				Integer congue semper tortor nec commodo. Pellentesque ac nibh id dui euismod commodo egestas ac risus. Donec gravida neque arcu, sed commodo arcu euismod non. Vestibulum id eleifend enim, lobortis malesuada lacus. Sed euismod libero sed massa varius, ut tincidunt orci sollicitudin. Nullam tempor nisi nec tristique lobortis. Morbi porta rhoncus interdum. Curabitur ex felis, pretium in risus aliquet, molestie convallis lorem. Ut sed diam commodo, tristique arcu luctus, egestas diam.

			<p/>

			<div class="hero-unit">


				<p class="lead">
					&bdquo;Wer vergisst, wie man die Erde beackert und das Feld bestellt, vergisst sich selber.&rdquo; <br><br>
					Mahatma Gandhi
				</p>
			</div>
			</p>
		


		</div>
		<!-- span6 -->

		<div class="span6">
			<h2>Unsere Produzenten</h2>
			<div class="media">
				<a class="pull-left" href="#"> <img class="media-object" src="http://placehold.it/64x64"> </a>
				<div class="media-body">
					<h4 class="media-heading">Vivamus et ex orci.</h4>
					<p>
						 Nam velit ante, sagittis in pretium vitae, sollicitudin sed nisl. Suspendisse ultrices tempus libero vitae sodales. Vivamus venenatis gravida mi, cursus tincidunt nisl volutpat a. Aliquam nec tempor nunc. Nunc lacinia tellus purus, eget vestibulum velit laoreet non. Integer sapien eros, sagittis eu consequat quis, convallis vitae diam. Quisque feugiat interdum ex vel vestibulum. Curabitur mollis, diam eget elementum semper, massa nibh consectetur tellus, nec suscipit lacus ex at lorem. Vivamus maximus tellus id neque maximus, vitae euismod lectus euismod. Suspendisse quis felis dignissim, egestas ligula sit amet, fringilla sapien.
					</p>
				</div>
			</div>
			<!-- media -->
			
		</div><!-- span6 -->

	</div>
	<!-- row -->
}
